.footer {
  margin-top: -7px;
  background: var(--unnamed-color-00468533) 0% 0% no-repeat padding-box;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 40px 35px 40px 32px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/22px var(--unnamed-font-family-open-sans);

    p {
      margin: 0;
      padding: 0;
    }
    @include small-tablet {
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
      line-height: 16px;
      padding: 20px 30px;

      article {
        display: flex;
        justify-content: center;
        margin-bottom: 17px;


      }
      p {
        margin-right: 2px;
      }
    }
  }
  &__logo {
    @include small-tablet {
      display: flex;
      justify-content: center;
    }
  }

}
