.info-block {
  background-color: inherit;
  margin-bottom: 22px;



  &__title {
    margin-top: 64px;
    margin-bottom: 23px;

    @include small-tablet {
      display: none;
    }

  }
  &__title-mb {
    display: none;

    @include small-tablet {
      display: block;
      margin-top: 28px;
    }
  }


  &__list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include small-tablet {
      flex-direction: column;
      justify-content: start;
      margin-top: 33px;
    }






  }

  &__item {
    &:nth-child(1), &:nth-child(2){
      margin-right: 27px;
    }
    &:nth-child(1), &:nth-child(2), &:nth-child(3){
      margin-bottom: 15px;
    }
    &:nth-child(5){
      margin-left: 9px;
      margin-right: 29px;

      @include small-tablet {
        margin-left: 0;
      }
    }



    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-569ddc);
    text-align: left;
    text-transform: capitalize;
    font-size: var(--unnamed-font-size-20);

    @include small-tablet {
      font-size: 16px;
      line-height: 24px;
    }
}
  &__item--txt {
    text-transform: lowercase;

    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;

    @include small-tablet {
      display: none;
    }
  }


}
.break {
  flex-basis: 100%;
  height: 0;

  @include small-tablet {
    display: none;
  }
}
