.modal-auto-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
  z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;

  @include small-tablet {
    top: -80px;
    padding-bottom: 80px;
    box-sizing: content-box;
  }
}

.modal-auto {
	width: 400px;
  height: 469px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  outline: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  margin-top: -150px;
  opacity: 1;
	display: none;

  @include small-tablet {
    height: 71vh;
    width: 100%;
  }

  &__title {
    margin-top: -1px;
    margin-bottom: 32px;
    font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal bold 16px/24px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

    p {
      margin: 0;
      padding: 0;
    }

@include small-tablet {
  margin-top: 3px;
}

.modal-auto__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
  }
  &__form {
    margin-bottom: 32px;

    @include small-tablet {
      margin-top: -1px;
    }
  }
}

.modal-auto-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal-auto--visible {
	display: block;
}
.modal-content {
  position: relative;

  @include small-tablet {
    display: flex;
    justify-content: center;
  }
}
.modal-body {
  padding: 40px;

  @include small-tablet {
    padding: 40px 20px;
    box-sizing: border-box;
  }
}
.modal-auto__close  {
  width: 48px;
  height: 48px;
  position: absolute;
top: 2px;
right: 1px;
cursor: pointer;

@include small-tablet {
  top: 22px;
  right: 0;
}
img {
  width: 23px;
  height: 23px;
}
}





