.nav {
  position: fixed;
  top: -40px;
  z-index: 1000;
  top: 70px;
  width: 280px;
  height: 733px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 11px 12px #00000029;
  opacity: 0.95;
  transition: transform 0.3s ease-out;
  transform: translateX(-280px);

@include small-tablet {
  transform: none;
  right: -280px;
  transition: right .3s ease-in-out;
  top: 49px;

}

&__list {
  padding: 21px 16px;
}

&__title {

  font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  text-transform: uppercase;

  span {
    display: inline-block;
    margin-bottom: 18px;
  }

  &:not(:last-child) {
    margin-bottom: 41px;
  }


}
&__item {
  &:not(:last-child) {
    margin-bottom: 22px;
  }
  a {
    text-transform: capitalize;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/22px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-004685);
    text-align: left;
    text-decoration: underline;
    letter-spacing: 0px;
    color: #004685;
    opacity: 1;
    transition: color .3s ease-in-out;

    &:focus {
      color: var(--unnamed-color-569ddc);
    }

    @include for-desktop {

      &:hover {
        color: var(--unnamed-color-569ddc);
      }
    }
    &:active {
      color: var(--unnamed-color-569ddc);
    }
  }
}
}
.nav--active {
  top: 69px;
  transform: none;

  @include small-tablet {
    top: 49px;
    right: 0;

  }
}
.modal-auto__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.item {

  a {
    text-transform: capitalize;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/22px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-004685);
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 5px;
    letter-spacing: 0px;
    color: #004685;
    opacity: 1;
    transition: color .3s ease-in-out;

    &:focus {
      color: var(--unnamed-color-569ddc);
    }

    @include for-desktop {

      &:hover {
        color: var(--unnamed-color-569ddc);
      }
    }
    &:active {
      color: var(--unnamed-color-569ddc);
    }


  }
}
.info-block__item {

  a {

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/22px var(--unnamed-font-family-open-sans);
    @include small-tablet {
      font-size: 16px;
      line-height: 24px;
    }
}
}
