.nav {
  position: absolute;
  z-index: 4000;
  top: 70px;
  //border-top: 1px solid var(--unnamed-color-000000);
//left: -280px;
width: 280px;
height: 733px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
//box-shadow: 0px 3px 12px #00000029;
box-shadow: 0px 11px 12px #00000029;
opacity: 0.95;
transform: translateX(-280px);
transition: transform 0.3s ease-out;

&__list {
  padding: 21px 16px;
}

&__title {

  font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
text-align: left;

letter-spacing: 0px;
color: #000000;
text-transform: uppercase;
opacity: 1;
  text-transform: uppercase;

  span {
    display: inline-block;
    margin-bottom: 18px;
  }

  &:not(:last-child) {
    margin-bottom: 41px;
  }


}


&__item {
  &:not(:last-child) {
    margin-bottom: 22px;
  }
  a {
    text-transform: capitalize;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/22px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-004685);
text-align: left;
text-decoration: underline;

letter-spacing: 0px;
color: #004685;
opacity: 1;
    transition: color .3s ease-in-out;

    &:focus {
      color: var(--unnamed-color-569ddc);
    }

    @include for-desktop {

      &:hover {
        color: var(--unnamed-color-569ddc);
      }
    }
    &:active {
      color: var(--unnamed-color-569ddc);
    }


  }
}
}
.nav--active {
  //position: absolute;

  transform: none;

}
.modal-auto__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
