.partner {
  margin-top: 60px;
  //margin-bottom: 60px;

  &__container {
    padding: 65px 0;
  }
  &__list {
    margin-top: 47px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__item {
    grid-column: 2 span;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-000000);
text-align: center;


  }

}
.partner-item {
  margin-top: 1px;

  &:nth-child(2) {
    span {
      margin-top: 17px;
    }

  }
  &:nth-child(6) {
    span {
      margin-top: 21px;
    margin-left: 2px;
    }

  }

  &__img {
    min-height: 100px;
    margin-bottom: 7px;

    img {
      margin-top: -7px;

    }
  }
  &__txt {




  }
}
.partner-item__img-2 {
  margin-top: 3px;
  margin-left: 14px;
}
.partner-item__img-6 {
  margin-top: 0;
  margin-left: 0;
}
