<div class="container-fluid content content__container">
  <section class="content-item" id="content-item-1">
    <div class="container-content content-item__container">
      <div class="content-item__left accordion">
        <button class="accordion-control btn-reset" aria-expanded="false">
          <div class="wrap-title">
            <div class="title-icon">
              <svg>
                <use xlink:href="img/sprite.svg#ic_gibdd"></use>
              </svg>
            </div>
            <h3 class="content-item__title accordion-title">Штрафы ГИБДД</h3>
          </div>
          <span class="accordion-icon">
            <svg class="accordion-icon">
              <use xlink:href="img/sprite.svg#ic_dropdown-arro"></use>
            </svg>
          </span>
        </button>
        <div class="accordion-content">
          <article class="content-item__article">
            <p>Для поиска укажите номера водительского удостоверения и&nbsp;свидетельства о&nbsp;регистрации&nbsp;ТС или
              номер штрафа.</p>
            <p> Если у&nbsp;вас есть на&nbsp;руках постановление о&nbsp;штрафе, вы&nbsp;можете указать реквизиты
              самостоятельно. </p>
          </article>
          <article class="content-item__article">
            <h4 class="content-item__subtitle content-item__subtitle-style">ПЛАТИТЬ ВОВРЕМЯ — ДЕШЕВЛЕ! </h4>
            <p>
              В&nbsp;первые 20&nbsp;дней после выдачи постановления штраф можно оплатить со&nbsp;скидкой 50%. &nbsp;Для
              своевременной оплаты штрафов настройте уведомления в&nbsp;Личном кабинете.
            </p>
          </article>
        </div>
      </div>
      <div class="content-item__right">
        <div class="content-item__img">
          <img src="img/pic_block1.png" alt="policy">
        </div>
      </div>
    </div>
  </section>
  <section class="content-item content-item-2" id="content-item-2">
    <div class="container-content content-item__container">
      <div class="content-item__left-reverce accordion">
        <button class="accordion-control btn-reset" aria-expanded="false">
          <div class="wrap-title">
            <div class="title-icon">
              <svg>
                <use xlink:href="img/sprite.svg#ic_fssp"></use>
              </svg>
            </div>
            <h3 class="content-item__title accordion-title">Судебные задолженности</h3>
          </div>
          <span class="accordion-icon">
            <svg class="accordion-icon">
              <use xlink:href="img/sprite.svg#ic_dropdown-arro"></use>
            </svg>
          </span>
        </button>
        <div class="accordion-content">
          <article class="content-item__article-2">
            <p>Для поиска начислений в&nbsp;ГИС ГМП укажите документы: паспорт РФ, ИНН, СНИЛС или номер Исполнительного
              производства. </p>
            <p class="content-item__article-2-txt">Вы&nbsp;можете указать реквизиты платежа самостоятельно, заполнив
              форму.</p>
          </article>
          <article class="content-item__article-2">
            <h4 class="content-item__subtitle-2 content-item__subtitle-style">УДОБНО!</h4>
            <p>
              Судебные задолженности можно погасить как сразу, так и&nbsp;по&nbsp;частям, комфортными для вас платежами.
              Информацию о&nbsp;совершенных платежах сохраняйте в&nbsp;Личном кабинете.
            </p>
          </article>
        </div>
      </div>
      <div class="content-item__right-reverce">
        <div class="content-item__img-reverce">
          <img src="img/pic_block2.png" alt="policy">
        </div>
      </div>
    </div>
  </section>
  <section class="content-item content-item-3" id="content-item-3">
    <div class="container-content content-item__container">
      <div class="content-item__left accordion">
        <button class="accordion-control btn-reset" aria-expanded="false">
          <div class="wrap-title">
            <div class="title-icon">
              <svg>
                <use xlink:href="img/sprite.svg#ic_nalog"></use>
              </svg>
            </div>
            <h3 class="content-item__title accordion-title">Налоги</h3>
          </div>
          <span class="accordion-icon">
            <svg class="accordion-icon">
              <use xlink:href="img/sprite.svg#ic_dropdown-arro"></use>
            </svg>
          </span>
        </button>
        <div class="accordion-content">
          <article class="content-item__article">
            <p>Для поиска начислений по&nbsp;налогам в&nbsp;ГИС ГМП укажите ИНН или Индекс налогового документа, если
              у&nbsp;вас на&nbsp;руках есть квитанция.</p>
          </article>
          <article class="content-item__article">
            <h4 class="content-item__subtitle content-item__subtitle-style">ВАЖНО!</h4>
            <p>Согласно законодательству&nbsp;РФ вы&nbsp;не&nbsp;можете оплачивать налоги за&nbsp;других физических лиц.
              Принимаются только платежи физических лиц.
            </p>
          </article>
        </div>
      </div>
      <div class="content-item__right">
        <div class="content-item__img">
          <img src="img/pic_block3.png" alt="policy">
        </div>
      </div>
    </div>
  </section>
  <section class="content-item" id="content-item-4">
    <div class="container-content content-item__container">
      <div class="content-item__left-reverce accordion">
        <button class="accordion-control btn-reset" aria-expanded="false">
          <div class="wrap-title">
            <div class="title-icon">
              <svg>
                <use xlink:href="img/sprite.svg#ic_rr"></use>
              </svg>
            </div>
            <h3 class="content-item__title">Услуги Росреестра</h3>
          </div>
          <span class="accordion-icon">
            <svg class="accordion-icon">
              <use xlink:href="img/sprite.svg#ic_dropdown-arro"></use>
            </svg>
          </span>
        </button>
        <div class="accordion-content">
          <article class="content-item__article-2">
            <p>В&nbsp;поисковой строке укажите Код платежа, который был отправлен вам на&nbsp;почтовый ящик, указанный
              при подаче запроса в&nbsp;Росреестре.</p>
          </article>
          <article class="content-item__article-2">
            <h4 class="content-item__subtitle-2 content-item__subtitle-style">НЕТ КОДА? </h4>
            <p>Если у&nbsp;вас ещё нет кода платежа, перейдите на&nbsp;сайт <span class="content-item__href item"><a
                  href="#">rosreestr.ru</a></span> и&nbsp;сформируйте запрос на&nbsp;оплату электронных услуг
              Росреестра.
            </p>
          </article>
        </div>
      </div>
      <div class="content-item__right-reverce">
        <div class="content-item__img-reverce">
          <img src="img/pic_block2.png" alt="policy">
        </div>
      </div>
    </div>
  </section>
</div>
