<header class="header">
  <div class="container-fluid header__container">

    <div class="header__btn-wrap">
      <button class="btn-reset burger header__burger" aria-label="Открыть меню">
        <span class="burger__line"></span>
      </button>
    </div>

    <div class="header__logo logo">
      <img src="img/logo.svg" alt="logo">
    </div>
    <div class="header__help">
      <a href="#" class="help-button" data-path="form-popup">
        <img src="img/ic_help.svg" alt="">
      </a>

    </div>
    <div class="modal-container">
      <div class="modal-help-overlay">
        <a class="modal-help" data-target="form-popup">
          <div class="modal-content">
           <div class="modal-body">
            <h2 class="kuku">kuku</h2>
           </div>
          </div>
        </a>
        </div>
    </div>
  </div>
</header>
