<section class="hero">
  <div class="container-fluid hero__container">
    <div class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__title">
          ЛИЧНЫЙ КАБИНЕТ
          <ul class="nav__sublist list-reset">
            <li class="nav__item"><a href="#">Вход в Личный кабинет</a></li>
          </ul>
        </li>
        <li class="nav__title list-reset">КАК ЭТО РАБОТАЕТ
          <ul class="nav__sublist list-reset">
            <li class="nav__item"><a href="#">Условия использования сервиса</a> </li>
            <li class="nav__item"><a href="#">Способы оплаты</a></li>
            <li class="nav__item"><a href="#">Часто задаваемые вопросы</a></li>
            <li class="nav__item"><a href="#">Служба поддержки</a></li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</section>
