<section class="hero"
  style="background-image: url(../img/pic_main.png); background-repeat: no-repeat; background-size: cover;">
  <nav class="nav">
    <ul class="nav__list list-reset">
      <li class="nav__title"><span class="nav__title">ЛИЧНЫЙ КАБИНЕТ</span>
        <ul class="nav__sublist list-reset">
          <li class="nav__item"><a href="#" class="auto-button" data-path="auto-popup">Вход в Личный кабинет</a></li>
        </ul>
      </li>
      <li class="nav__title list-reset"><span class="nav__title">КАК ЭТО РАБОТАЕТ</span>
        <ul class="nav__sublist list-reset">
          <li class="nav__item item"><a href="#">Условия использования сервиса</a> </li>
          <li class="nav__item item"><a href="#">Способы оплаты</a></li>
          <li class="nav__item item"><a href="#">Часто задаваемые вопросы</a></li>
          <li class="nav__item item"><a href="#">Служба поддержки</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="container-fluid hero__container">
    <div class="hero__block">
      <h1 class="hero__title">Поиск начислений</h1>
      <form action="#" class="hero__form form-search">
        <input type="text" class="input-reset form-search__input" placeholder="Введите данные для поиска">
        <input type="submit" value="Найти" class="input-reset form-search__btn btn btn--active">
        <button class="form-search__btn-mb btn-reset">
          <svg class="form-search__btn-mb">
            <use xlink:href="img/sprite.svg#ic_search"></use>
          </svg>
        </button>
      </form>
      <p class="hero__descr">Чем больше параметров введено, тем полнее результаты поиска</p>
    </div>
  </div>
</section>
