<section class="info-block">
  <div class="container">
    <h2 class="info-block__title title">Здесь можно оплатить</h2>
    <ul class="info-block__list list-reset">
      <li class="info-block__item item"><a href="#content-item-1">Штрафы ГИБДД</a></li>
      <li class="info-block__item item" id="content-item-2"><a href="">Судебные задолженности</a></li>
      <li class="info-block__item item" id="content-item-3"><a href="">Налоги</a></li>
      <div class="break"></div>
      <li class="info-block__item item" id="content-item-4"><a href="">Услуги Росреестра</a></li>
      <li class="info-block__item info-block__item--txt">и&nbsp;другие&nbsp;услуги</li>
    </ul>
  </div>
</section>
